<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ufoodlibrary">

    <application
        android:theme="@style/AppTheme"
        android:screenOrientation="portrait">
        <receiver android:name=".broadcastreceivers.NetworkChangeReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>


</manifest>
